<!-- 引入css -->
<%= stylesheet_link_tag "office",media:"all","data-turbolinks-track"=>true %>
<!-- 新建 -->
<!-- 分为左右结构，左边为编辑，右边为预览 -->
<div>
  <div style="width:90%;padding-left:20px;margin:auto;">
    <a>编辑表格<a id="notice"><%= notice %></a></a>
    <div style="background:gray;padding:40px;">
      <%= form_for(@theader,:url => offices_path) do |f| %>
  <% if @theader.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@theader.errors.count, "error") %> prohibited this theader from being saved:</h2>
        
        <ul>
          <% @theader.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
      <% end %>
     
      <% if session[:user] %>
      <%= f.hidden_field :user_id %>
      <% end %>
      <table>        
        <tr>
          <td>标题</td>
          <td><%= f.text_field :title %></td>
          <td>创建的表格的标题</td>
        </tr>
        <tr>
          <td>副标题</td>
          <td><%= f.text_field :_title %></td>
          <td>创建的表格的副标题</td>
        </tr>
        <tr>
          <td>表头</td>
          <td><%= f.text_area :heads %></td>
          <td>日期等等，多项之间请用空格隔开</td>
        </tr>
        <tr>
          <td>表项</td>
          <td><%= f.text_area :items %></td>
          <td>表格所要填写的项目，多项之间请用空格隔开</td>
        </tr>
        <tr>
          <td>表格说明</td>
          <td><%= f.text_area :intro %></td>
          <td>对表格进行简单的说明，将会显示在表格下面</td>
        </tr>
        <tr>
          <td>其他</td>
          <td></td>
          <td></td>
        </tr>
      </table>
      <div class="actions">
        <%= f.submit "创建表格",:class=>"btn btn-info" %>
      </div>
      <% end %>
    </div>
  </div>
</div>