<h1>Listing theaders</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Direction</th>
      <th>Title</th>
      <th> title</th>
      <th>Heads</th>
      <th>Items</th>
      <th>Intro</th>
      <th>Type</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @theaders.each do |theader| %>
    <tr>
      <td><%= theader.user_id %></td>
      <td><%= theader.direction %></td>
      <td><%= theader.title %></td>
      <td><%= theader._title %></td>
      <td><%= theader.heads %></td>
      <td><%= theader.items %></td>
      <td><%= theader.intro %></td>
      <td><%= theader.ttype %></td>
      <td><%= link_to 'Show', office_url(theader) %></td>
      <td><%= link_to 'Edit', edit_office_path(theader) %></td>
      <td><%= link_to 'Destroy', office_url(theader), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Theader', new_office_path %>
