<h1>当前所有的表格</h1>
<table>
  <thead>
    <tr>
      <th>编号</th>
      <th style="width:20px;">&nbsp;</th>
      <th>标题</th>
      <th style="width:20px;">&nbsp;</th>
      <th>说明</th>
      <th style="width:20px;">&nbsp;</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% i=1 %>
    <% @theaders.each do |theader| %>
    <tr>
      <td><%= i %></td>
      <% i += 1 %>
      <td>&nbsp;</td>
      <td><font size="3"><%= theader.title %></font>——<%= theader._title %></td>
      <td>&nbsp</td>
      <td><%= theader.intro.length>10?theader.intro[0..9]+"...":theader.intro %></td>
      <td>&nbsp;</td>
      <td><%= link_to '详细', office_url(theader) %></td>
      <td><%= link_to '修改', edit_office_path(theader) %></td>
      <td><%= link_to '删除', office_url(theader), method: :delete, data: { confirm: '确定删除?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to '创建表格', new_office_path %>
