<p id="notice"><%= notice %></p>
<!-- 这里显示的是完整的表格预览,同时包括数据在内 -->
<script>
  $(function(){
  //获取列名
  var colStr = "<%= @theader.items %>".split(" ");
  var i,tmpCol=new Array();
  // var colMod = "%< @theader.TValues 
  for(i=0;i<colStr.length;i++)
  {
    tmpCol.push({name:"items["+i+"]",index:"items["+i+"]",editable:true });
  }
  
  $("#excel").jqGrid({
    url:"/offices/<%= @theader.id %>/offvals",
    colNames:colStr,
    colModel:tmpCol,
    datatype: "json",
    width:$(window).width()*0.9,
    rowNum:35,
    pager:'#nav',
    rowList:[35,70,140],
    caption:"<%= @theader.title %><%= @theader._title %>",
    editurl:"/offices/<%= @theader.id %>/offvals/"
  }).jqGrid('navGrid',"#nav",{edit:false,add:false,del:false}).jqGrid('inlineNav',"#nav");

});
</script>
<div class="content">
  <table id="excel"></table>
  <div id="nav"></div>
  <br/>
  <p>填表说明： <font size="3" color="red"><%= @theader.intro %></font></p>
  <%= link_to '填写这个表',new_office_offval_path([@theader,@tvalue]) %> | 
  <%= link_to '修改这张表', edit_office_path(@theader) %> | 
  <%= link_to '返回', offices_path %>
</div>
