<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @theader.user_id %>
</p>

<p>
  <strong>Direction:</strong>
  <%= @theader.direction %>
</p>

<p>
  <strong>Title:</strong>
  <%= @theader.title %>
</p>

<p>
  <strong> title:</strong>
  <%= @theader._title %>
</p>

<p>
  <strong>Heads:</strong>
  <%= @theader.heads %>
</p>

<p>
  <strong>Items:</strong>
  <%= @theader.items %>
</p>

<p>
  <strong>Length:</strong>
  <%= @theader.length %>
</p>

<p>
  <strong>Intro:</strong>
  <%= @theader.intro %>
</p>

<p>
  <strong>Type:</strong>
  <%= @theader.type %>
</p>


<%= link_to 'Edit', edit_theader_path(@theader) %> |
<%= link_to 'Back', theaders_path %>
