<!--表单 -->
<%= form_for([:userspace,@user]) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "通行证" %><br />
    <%= f.text_field :passport %>
  </div>
  <div class="field">
    <%= f.label "用户名" %><br />
    <%= f.text_field :dname %>
  </div>
  <div class="field">
    <%= f.label "密码" %><br />
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label "电子邮件" %>
    <%= f.email_field :email %>
  </div>
  <div class="field">
    <%= f.label :config %><br />
    <%= f.text_field :config %>
  </div>
  <div class="actions">
    <%= f.submit '提交' %>
  </div>
<% end %>
