<h1>Listing users</h1>

<table>
  <thead>
    <tr>
      <th>Passport</th>
      <th>Dname</th>
      <th>Password</th>
      <th>Config</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td><%= user.passport %></td>
      <td><%= user.dname %></td>
      <td><%= user.password %></td>
      <td><%= user.config %></td>
      <td><%= link_to 'Show', user %></td>
      <td><%= link_to 'Edit', edit_user_path(user) %></td>
      <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br />
<style>
  span {display:none}

</style>
<%= link_to 'New User', new_userspace_user_path %>
