<div id="msg">
  <div class="hero-unit">
    <div class="msg_user">
      <%= weibo.user_id %>
      <%= image_tag 'rails.png' %>
    </div>
    <div class="msg_body">
      <div><%= weibo.body %></div>
      <div>
        <div style="float:right" id="<%= weibo.id %>">
          <!-- 赞 -->
          <a id="thumb">
            <i class="icon-thumbs-up"></i>
            <span>(<%= weibo.thumbs_count %>)</span>
          </a>|
          <!-- 评论 -->
          <a id="comment">
            <i class="icon-edit""></i>
            <span>(<%= weibo.comments_count %>)</span>
          </a>|
          <!-- 转发 -->
          <a id="share">
            <i class="icon-share"></i>
            <span>(<%= weibo.share_count %>)</span>
          </a>|
          <!-- 删除 -->
          <a id="del">
            <i class="icon-trash"></i>
          </a>
        </div>
        <%= "#{weibo.created_at}发布" %>
      </div>
    </div>
  </div>
  <hr/>
</div>