<!DOCTYPE html>
<html>
<head>
  <title>Moysky</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "global","data-trubolinks-track"=>true %>
  <%= csrf_meta_tags %>
  <style type="text/css">
  #logon:hover{
    color:red;
    font-weight:bold;
    background:none;
  }
  </style>
</head>
<body>
  <!-- 导航条 -->
  <%= render "shared/menu" %>
    <!-- 正题 -->
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span2">
          功能类表
        <!--Sidebar content-->
      </div>
      <div class="span7">
        <%= yield %>
      </div>
      <div class="span3">
        放置消息，适当广告
      </div>
    </div>
  </div>

<!-- 版权信息 -->
<%= render 'shared/copyright' %>
</body>

</html>
