<!DOCTYPE html>
<html>
<head>
  <title>Moysky</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <a class="brand" href="#">马赛克的天空</a>
      <ul class="nav">
        <li class="active"><%= link_to '首页',root_path %></li>
        <li><a href="#">广场</a></li>
        <li><a href="#">投票</a></li>
      </ul>
    </div>
  </div>
    
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span2">
          功能类表
        <!--Sidebar content-->
      </div>
      <div class="span7">
        <%= yield %>
      </div>
      <div class="span3">
        放置消息，适当广告
      </div>
    </div>
  </div>
</body>

</html>
