<!DOCTYPE html>
<html>
<head>
  <title>Moysky</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag "office_show",:media => "all","data-turbolinks-track" => true %>
  <%= stylesheet_link_tag "css/redmond/jquery-ui-1.10.2.custom.min",:media => "all","data-turbolinks-track" =>true %>
  <%= stylesheet_link_tag "css/ui.jqgrid",:midia => "all","data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "global","data-trubolinks-track"=>true %>
  <%= javascript_include_tag "jqgrid/src/i18n/grid.locale-cn" %>
  <%= javascript_include_tag "jqgrid/src/jquery.jqGrid","data-turbolinks-track" => true %>
  <%= javascript_include_tag "jqgrid/src/jqModal","data-turbolinks-track" => true %>
  <%= javascript_include_tag "jqgrid/src/jqDnR","data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <style type="text/css">
  #logon:hover{
    color:red;
    font-weight:bold;
    background:none;
  }
  </style>
</head>
<body>
  <!-- 导航条 -->
  <%= render "shared/menu" %>
    <!-- 正题 -->
  <%= yield %>
  </div>

<!-- 版权信息 -->
<%= render 'shared/copyright' %>
</body>

</html>